/bin/Debug
/bin/Release
/obj/Debug
/obj/Release
/Catalog.Api/bin/*
/Catalog.Api/obj/*
/Catalog.UnitTests/bin
/Catalog.UnitTests/obj
/obj

*.exe
*.pdb
*.manifest
*.cache


Catalog.Api/obj/Debug/net5.0/Catalog.Api.GeneratedMSBuildEditorConfig.editorconfig
Catalog.Api/bin/Debug/net5.0/Catalog.Api.dll
Catalog.Api/obj/Catalog.Api.csproj.nuget.dgspec.json
Catalog.Api/obj/project.assets.json
Catalog.Api/obj/Debug/net5.0/Catalog.Api.dll
Catalog.Api/obj/Debug/net5.0/Catalog.Api.GeneratedMSBuildEditorConfig.editorconfig
